{% extends "layout.html" %}

{% block titlebar %} Manage Dancers  {% endblock %}
{% block title %} Manage Dancers {% endblock %}
{% block icon %}"user-check"{% endblock %}
{% block subtitle %} Add, Remove and assign roles {% endblock  %}
{% block user %} Samivel Evans {% endblock %}
{% block main %}


<div class="card mt-n10">
    <div class="card-header">Boxed Layout Example</div>
    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, accusamus quisquam? Consequatur atque porro vel repellendus, iste perferendis hic nostrum! Corrupti porro vel illo ipsum neque ex nemo voluptas amet.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequuntur aspernatur hic dolores exercitationem error eaque explicabo nemo rerum harum distinctio doloremque qui laudantium dignissimos, in sed deleniti natus vitae.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta quisquam ratione magnam est dolorem obcaecati doloremque perspiciatis, totam minus facilis repudiandae minima adipisci animi numquam corporis repellendus cumque blanditiis non.
    </div>
</div>

{% endblock %}