{% extends "layout.html" %}




{% block user %} Samivel Evans {% endblock %}
{% block header %}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="user-check"></i></div>
                        Title
                    </h1>
                    <div class="page-header-subtitle">Subtitle</div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block main %}


<div class="card mt-n10">
    <div class="card-header">Boxed Layout Example</div>
    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, accusamus quisquam? Consequatur atque porro vel repellendus, iste perferendis hic nostrum! Corrupti porro vel illo ipsum neque ex nemo voluptas amet.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequuntur aspernatur hic dolores exercitationem error eaque explicabo nemo rerum harum distinctio doloremque qui laudantium dignissimos, in sed deleniti natus vitae.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta quisquam ratione magnam est dolorem obcaecati doloremque perspiciatis, totam minus facilis repudiandae minima adipisci animi numquam corporis repellendus cumque blanditiis non.
    </div>
</div>

{% endblock %}